.animation {
    animation-name: changeHeight;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 8;
    animation-direction: alternate;
}

@keyframes changeHeight {
    from { height: 200px; }
    to { height: 400px; }
}